{% extends "_layouts/base.twig" %}

{% set items = data.downloads %}
{% set item_colors = [
    "bg-pink-600",
    "bg-purple-600",
    "bg-yellow-500",
    "bg-green-500",
] %}

{% block content %}
    {% block content %}
        {% from "index.twig" import item %}

        <h1 class="mb-10 text-2xl font-bold leading-9 tracking-tight text-white">Dennis´ CV Fileshare</h1>
        <h2 class="text-sm font-medium text-gray-500">Downloads</h2>
        <ul role="list" class="mx-auto mt-3 grid grid-cols-1 gap-5">
            {% for item in items %}
                {{ item(item, cycle(item_colors, loop.index0)) }}
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}

{% macro item(item = {}, color) %}
    {% set url = "/download/" ~ item.filename %}
    {% set filename = item.filename ?? ("File " ~ loop.index) %}
    {% set filetype = item.filetype |upper %}
    {% set filesize = item.filesize ?? "0 KB" %}
    {% set icon %}
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
        </svg>
    {% endset %}

    <li class="col-span-1 rounded-md shadow-sm">
        <a href="{{ url }}" class="group flex cursor-pointer">
            <div class="flex w-16 flex-shrink-0 items-center justify-center {{ color }} rounded-l-md text-sm font-medium text-white">{{ filetype }}</div>
            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-b border-r border-t border-gray-200 bg-white">
                <div class="flex-1 truncate px-4 py-2 text-sm">
                    <p class="font-medium text-gray-900 group-hover:text-gray-600">
                        {{ filename }}
                    </p>
                  <p class="text-gray-500">{{ filesize }}</p>
                </div>
                <div class="flex-shrink-0 pr-2">
                    <div class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-transparent bg-white text-gray-400 group-hover:text-gray-500 group-focus:outline-none group-focus:ring-2 group-focus:ring-indigo-500 group-focus:ring-offset-2">
                        <span class="sr-only">Download</span>
                        {{ icon }}
                    </div>
                </div>
            </div>
        </a>
    </li>
{% endmacro %}

